<odoo>
	<data>
		<menuitem id="vit_todo_top_menu" name="OWL Todo" sequence="20" web_icon="vit_todo,static/description/icon.png" />
		<menuitem id="vit_todo_sub_menu" name="Operations" sequence="40" parent="vit_todo_top_menu" />
		<menuitem id="vit_todo_config_menu" name="Configurations" sequence="1000" parent="vit_todo_top_menu" />
	</data>
</odoo>